a #branding {
    width: 170px;
    height: 220px;
    background-image: url("../assets/stahl-logo.png");
}

#branding a {
    width: 170px;
    height: 220px;
}

div #ticker p {
	color: #555555;
    font-size: 15px;
    text-align: center;
}

.carousel {
  margin-top: 20px;
  line-height: 1;
}

.carousel-inner {
	height: 36px;
}

div.item {
    height: 36px;
    background-color: none;
    color: #333333;
}

h1, h2 { 
    font-family: Eurostile-Bol;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

h4, h5 { 
    font-family: Eurostile-Reg;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

h3 { 
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 60px;
    line-height: 100%;
}

p { 
    font-family: Eurostile-Reg;
    font-weight: normal;
    font-style: normal;
    font-size: 150%;
}

.nav { 
    font-family: Eurostile-Bol;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    width: 170px;
}

.nav-tabs.nav-stacked li a {
    border: 0px;    
}
.container-fluid {
    padding: 0px;
}

.chapter {
    width: 700px;
    margin: auto;
}

div .video iframe {
    margin: 0 auto;
    display: block;
}

h5 .video {
    text-align: center;
}

.header {
    width: 100%;
    height: 220px;
    padding-left: 0px;
    margin-bottom: 30px;
}
.purple {
    background-color: #583f99;
}

.pink {
    background-color: #d75896;
}

.header h1 {
    width: 700px;
    margin: auto;
    padding-top: 30px;
    color: #ffffff;
}

.header h3 {
    color: #ffffff;
}

.narrow {
    margin: 0px;
    padding: 0px;
    width: 170px;
    position: fixed;
}

.span12 {
    margin-left: 0px !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

cite {
    font-style: italic;
}